/*=======================================================================================*/
/*                                              global                                   */
/*=======================================================================================*/

:root {
    /* Colour variables */
    --alabaster:#EFEFEF;
    --rhino:#2f3f5e;
    --dove-gray: #706c6c;
    --lochmara: #483D8B ; /*#078cc4;*/
    --picton-blue: purple; /*#3fbaef;*/
    --white: #ffffff;
    --alto:#dbdbdb;
    --dull-white: #fafafa;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html{    
    font-family: 'Bree Serif', serif;
    font-size: 1rem;
    color: var(--rhino);
    background-color: var(--dull-white);
}

a{
    text-decoration: none;
}

.main-container{
    max-width: 900px;
}

/*Re-usable center class */

.centerY {
    max-width: 70%;
    margin: 0 auto;
}

/*max-width modifier*/

.width-xl {
    max-width: 90%;
}

/*Re-usable stack class */

.stack-xl > * + * {
    margin-top: 3rem;
}

.stack-sm > * + * {
    margin-top: 0.5rem;
}

/* Grid for the map and summary data (reusable elsewhere too) */

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    gap: 1rem;
}

/* Style the table  */

table {
    /* font-family: arial, sans-serif; */
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border-top: 1px solid  var(--alto);
    text-align: left;
    padding: 0.5rem;
} 

tr:nth-child(even) {
    background-color: var(--alabaster);
}

.checkboxes input{
    margin: 0px 0px 0px 0px;
}
  
.checkboxes label{
    margin: 0px 20px 0px 3px;
}
/*=======================================================================================*/
/*                                      Header                                           */
/*=======================================================================================*/

.header{
    display: flex;
    width: 100%;
    min-height: 75px; 
    margin-top: 10px;     
}

.header-nav{
    margin-left: 20px;
}

.header-nav a{
    display: inline-block;
    justify-content: space-between;
    padding: 20px;
    font-weight: bold;
    color: var(--dove-gray);    
}

.header-nav a:hover{
    cursor: pointer;
    opacity: .5;
    transition: .9s;
    border: 3px solid var(--rhino);
}

/*=======================================================================================*/
/*                          Form with  background image                                  */
/*=======================================================================================*/

.bg-img {
    background-image: url("Images/img_form_background.jpg");
    min-height: 20rem;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

/* Add styles to the form container */
.form-postcode-search {
    position: absolute;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto;
    margin-top: 2rem;
    text-align: center;
    padding: 40px 30px 40px 30px;
    background-color: #000000cc;
}

.main-header{
    font-size: 2rem;
    font-weight: 300;
    margin-top: 20px;
    margin-bottom: 10px;
    color: var(--white);
}

.main-subheader{
    font-size: .95rem;
    font-weight: 100;
    margin: 0 0 15px 0;
    color: var(--white);
}

.form-postcode-search-input input{
    padding: 10px;
    width: 200px;
}
.form-postcode-search-input button{
    font-weight: bold;
    padding: 10px;
    width: 100px;
    text-transform: uppercase;  
    color: var(--white);
    background-color: var(--lochmara);
}

/*=======================================================================================*/
/*                                   Tabs                                                */
/*=======================================================================================*/

.output{
    display: none;
}

.tab{
    margin: 0 auto;
    border: 1px solid #ddd;
}

.tab-header{
    background-color: var(--lochmara);
}

.tab button{
    border: none;
    outline: none;
    padding: 14px 16px;
    font-size: 1.1rem;
    background-color: inherit;
    color: var(--white);
    font-weight: bold;
}

.tab button:hover{
    background-color: var(--picton-blue);
}

.tab button.active {
    background-color: var(--white);
    color: var(--lochmara);
}

.tab-content{
    margin-top: 20px;
    padding: 10px;
}

/*=======================================================================================*/
/*                            Summary Tab                                                */
/*=======================================================================================*/

#summary-tab-content {
    display: block; 
}

/* Set the size of the div element that contains the map      */

#map {
    height: 19rem;
    width: 100%;
}

/*=======================================================================================*/
/*                            Crime Tab                                                  */
/*=======================================================================================*/

 #crime-tab-content {
    display: none; 
}

/* Change color of the filter button it is visible and give it a margin */

#filterButton {
    background-color: var(--lochmara);
    margin-top: 0.5rem;
}

/*=======================================================================================*/
/*                                   Media queries                                       */
/*=======================================================================================*/

/* Small devices (portrait tablets and large phones, 600px and up) */
@media screen and (max-width: 600px) {
 
    .header-nav a{
        padding: 10px;
    }
    
    .bg-img {
        min-height: 20rem;
    }

    .form-postcode-search {
        margin-top: 1.5rem;
        padding: 1rem;
    }
  
}
