/*=======================================================================================*/
/*                                              global                                   */
/*=======================================================================================*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html{    
    font-family: 'Bree Serif', serif;
    font-size: 1rem;
    color: #2f3f5e;
    background-color: white;
}

a{
    text-decoration: none;
}
/*=======================================================================================*/
/*                                      Header                                           */
/*=======================================================================================*/

.header{
    display: flex;
    width: 100%;
    min-height: 75px; 
    margin-top: 10px;     
}

.header-nav{
    margin-left: 20px;
}

.header-nav a{
    display: inline-block;
    justify-content: space-between;
    padding: 20px;
    font-weight: bold;
    color: #706c6c;    
}

.header-nav a:hover{
    cursor: pointer;
    opacity: .5;
    transition: .9s;
    border: 3px solid #2f3f5e;
}

/*=======================================================================================*/
/*                          Form with  background image                                  */
/*=======================================================================================*/

.bg-img {
    background-image: url("Images/img_form_background.jpg");
    min-height: 380px;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

/* Add styles to the form container */
.form-postcode-search {
    position: absolute;
    max-width: 900px;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto;
    margin-top: 50px;
    text-align: center;
    padding: 50px 30px 40px 30px;
    background-color: #000000cc;
}

.main-header{
    font-size: 2rem;
    font-weight: 300;
    margin-top: 20px;
    margin-bottom: 10px;
    color: white;
}

.main-subheader{
    font-size: .95rem;
    font-weight: 100;
    margin: 0 0 15px 0;
    color: white;
}

.form-postcode-search-input input{
    padding: 10px;
    width: 200px;
}
.form-postcode-search-input button{
    font-weight: bold;
    padding: 10px;
    width: 100px;
    text-transform: uppercase;  
    color: white;
    background-color: #078cc4;
}

/*=======================================================================================*/
/*                                   Media queries                                       */
/*=======================================================================================*/

/* Small devices (portrait tablets and large phones, 600px and up) */
@media screen and (max-width: 600px) {
 
    .header-nav a{
        padding: 10px;
    }
  

}